services:
  mongodb:
    image: mongo:5.0.15
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_container:/data/db

  redis:
    image: redis:7.2
    ports:
      - "6379:6379"
    volumes:
      - redis_data_container:/data

volumes:
  mongodb_data_container:
  redis_data_container:

# docker compose -p holla up -d
